.sideBar{
    height: 100%;
   
    position: fixed;
    width: 16%;
   
}
.Sidebar-border{
    background: rgba(255, 255, 0, .3);
    border-radius: 0px 8px 8px 0px;
}
.logout{
    position: absolute;
    bottom: 0;
    width: 100%
}

.modal{
    position: fixed!important;
    top: 50%;
    left: 50%;
    /* width: 300px; */
    transform: translate(-50%,-50%) scale(0)  ;
    transition: 200ms ease-in-out;
    background-color: #fff;
    padding: 20px;
    box-shadow: 10px 5px 40px 14px rgba(38.81, 136.75, 227.16, 0.13);
    z-index: 999;
    border-radius: 20px;
  }
  .genModal{
    position: fixed!important;
    top: 0%;
    left: 0%;
    height: 100%;
    /* width: 300px; */
    transform: translate(-50%,-50%) scale(0)  ;
    transition: 200ms ease-in-out;
    background-color: #fff;
    padding: 20px;
    box-shadow: 10px 5px 40px 14px rgba(38.81, 136.75, 227.16, 0.13);
    z-index: 999;
  
  }

  .modal-show {
    transform: translate(-50%, -50%) scale(1);
    left: 50%;
    top: 50%

  }
  .overlay {
    display: block;
    position: fixed!important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    /* backdrop-filter: blur(2px); */
    /* transition: transform 0.3s ease, opacity 0.3s ease; */
  }